.header {
    @include get-elevation-box-shadow(1px);

    display: flex;
    justify-content: space-between;
    align-content: center;
    width: 100%;
    margin-bottom: size(3);
    padding: size(2);
    background-color: $white;

    .navigation {
        margin-left: auto;
    }
}
