.heading {
    color: $secondary;
    font-weight: $font-weight-semibold;

    &--h1 {
        margin-bottom: size(3);
    }

    &--h2 {
        margin-bottom: size(2.2);
    }

    &--h3 {
        margin-bottom: size(1.8);
    }

    &--h4 {
        margin-bottom: size(1.4);
    }

    &--h5 {
        margin-bottom: size(1.2);
    }

    &--h6 {
        margin-bottom: size(1);
    }
}
